<?xml version="1.0"?>
<!--
////////////////////////////////////////////////////////////////////////////////
//
// Read more about ArcGIS Viewer for Flex - http://links.esri.com/flexviewer
//
////////////////////////////////////////////////////////////////////////////////
-->
<configuration>
    <title>ArcGIS Viewer for Flex</title>
    <subtitle>a configurable web mapping application</subtitle>
    <logo>assets/images/logo.png</logo>
    <style>
        <!--  text color, background color, rollover color, selection color, and title text color -->
        <colors>0x000000,0xb19f8d,0xfcfbfb,0x694820,0xFFFFFF</colors>
        <alpha>0.8</alpha>
        <font name="Helvetica"/>
    </style>
    <!-- replace the following url with your own geometryservice -->
    <geometryservice url="http://tasks.arcgisonline.com/ArcGIS/rest/services/Geometry/GeometryServer"/>

    <!-- UI elements -->
    <!--
    <widget left="10" top="50"
            config="widgets/Navigation/NavigationWidget.xml"
            url="widgets/Navigation/NavigationWidget.swf"/>
    -->
    <widget right="70" top="70"
            config="widgets/CustomOverviewMap/CustomOverviewMapWidget.xml"
            url="widgets/CustomOverviewMap/CustomOverviewMapWidget.swf"/>
    <widget right="28" bottom="55"
            config="widgets/CustomMapSwitcher/CustomMapSwitcherWidget.xml"
            url="widgets/CustomMapSwitcher/CustomMapSwitcherWidget.swf"/>
    <widget left="0" top="0"
            config="widgets/CustomHeaderController/CustomHeaderControllerWidget.xml"
            url="widgets/CustomHeaderController/CustomHeaderControllerWidget.swf"/>

    <map top="40"
         addarcgisbasemaps="true"
         attributionvisible="true"
         esrilogovisible="true"
         initialextent="-12602154.163334595 4027197.336184813 -12483982.517605668 4097060.780037491"
         itemid="df8bcc10430f48878b01c96e907a1fc3"
         openhandcursorvisible="false"
         portalurl="https://www.arcgis.com/"
         scalebar="default"
         scalebarvisible="true"
         wraparound180="true"
         zoomslidervisible="false"/>


    <!-- widgets organized into widget containers that manage close/open etc -->
    <!-- supported layout property options: horizontal(default)|float|vertical|fix-->
    <widgetcontainer layout="float">
        <widget left="430" top="90"
                config="widgets/CustomBookmark/CustomBookmarkWidget.xml"
                icon="assets/images/i_bookmark2.png"
                label="Focus Areas"
                url="widgets/CustomBookmark/CustomBookmarkWidget.swf"/>

        <widget left="430" top="90"
                config="widgets/CustomLayerList/CustomLayerListWidget.xml"
                icon="assets/images/i_layers.png"
                label="Content"
                url="widgets/CustomLayerList/CustomLayerListWidget.swf"/>

        <widget left="410" top="280"
                config="widgets/CustomQuery/CustomQueryWidget.xml"
                icon="assets/images/custom/i_wild_fire_widget.png"
                label="Severe Fires"
                url="widgets/CustomQuery/CustomQueryWidget.swf"/>

        <widget left="390" top="400"
                config="widgets/CustomPrint/CustomPrintWidget.xml"
                icon="assets/images/i_print.png"
                label="Print"
                url="widgets/CustomPrint/CustomPrintWidget.swf"/>

        <!--         <widget config="widgets/HeatMap/HeatMapWidget.xml" -->
        <!--                 icon="widgets/HeatMap/assets/images/i_heatmap_icon.png" -->
        <!--                 label="Heat Map" -->
        <!--                 preload="open" -->
        <!--                 url="widgets/HeatMap/HeatMapWidget.swf"/> -->
        <!--
        <widget label="My first widget"
                icon="assets/images/i_widget.png"
                config="widgets/Samples/HelloWorld/HelloWorldWidget.xml"
                url="widgets/Samples/HelloWorld/HelloWorldWidget.swf"/>
        -->
    </widgetcontainer>

</configuration>
